.alert {
  position: absolute;
  bottom: 2.5em;
  left: 2.5em;
  width: 300px;
  background-color: #0f3057;
  color: #e7e7de;
  text-align: center;
  transform: translateX(-340px);
  transition: transform 0.2s ease-in;
  padding: 0.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.removeBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 0.8em;
  cursor: pointer;
}

.removeBtn:hover {
  color: cadetblue;
}

.showAlert {
  transform: translateX(0);
}
