.toggle {
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  /* margin-left: auto; */
}

.switch {
  appearance: none;
  -webkit-appearance: none;
  width: 44px;
  height: 24px;
  border-radius: 12px;
  border: 2px solid black;
  background-color: #eee;
  outline: none;
  cursor: pointer;
}

.switch:checked {
  background-color: #ffaa00;
  transition: all 0.4s;
}

.switch::before {
  width: 16px;
  height: 16px;
  border-radius: 9px;
  background-color: black;
  content: "";
  position: absolute;
  top: 7px;
  left: 36%;
  transition: all 0.4s;
}
.switch:checked::before {
  left: 53%;
  transition: all 0.4s;
}
