.app {
  text-align: center;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  color: #ff8e71;
}

.main {
  max-width: 1150px;
  width: 92%;
  margin: auto;
  padding-top: 1em;
}
